/* Footer Styling */
.footer {
    color: white;
    text-align: center;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    background: linear-gradient(to right, #00aaff, #0099cc); 
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 3.125rem;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem; 
    margin: 0 auto; 
}

.footer p {
    margin-top: 0.9375rem;
    margin-bottom: auto;
    margin-right: auto;
    margin-right: auto;
    margin: 0;
    font-size: 0.875rem;
    text-align: center;
    color: white;
}

.footer .footer-right {
    font-size: 0.875rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .footer-right span {
    margin-right: 0.625rem;
}



