/* Cấu trúc tổng quan */
.custom-navbar {
    background-color: #343a40; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(to right, #007bff, #00d4ff);
  }
  
  /* Navbar */
  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white; 
    text-transform: uppercase; 
  }
  
  .custom-navbar .nav-link {
    color: #ddd; 
  }
  
  .custom-navbar .nav-link:hover {
    color: rgb(0, 183, 255); 
    background-color: white; 
    border: 5px;
    border-radius: 10px;
    padding: 8px;
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-color: #fff; 
  }
  
   /* Design with android */
  @media (max-width: 991px) {
    .custom-navbar .navbar-nav {
      text-align: center; 
    }
  }
  
  .custom-navbar .navbar-nav .nav-item {
    padding: 10px;
  }
  

  body {
    padding-top: 80px; 
  }

  /* Navbar Link */
  .nav-link.login {
    color: white; 
    padding-right: 15px; 
    padding-left: 15px; 
  }
  
  .nav-link.login {
    margin-right: auto;
    margin-left: 71.875rem;
    /* right: 0;
    left: 0; */
    text-align: center;
  }

  .nav-link.page {
    color: white;
  }

  .nav-link.dashboard{
    color: white;
  }
  /* Button Login */
  .buttonLogin{
    color: #007bff;
    width: 15%;
    padding: 5px;
    border-radius: 5px;
    border: 8px;
  }
  
  .buttonLogout {
    position: absolute;
    right: 10px; 
    top: 10px; 
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* .buttonLogout:hover {
    background-color:;
  } */