/* General styles for the Admin Dashboard */
.home-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-grow: 1;
  background-color: #f9f9f9;
}

.content {
  flex-grow: 1;
  padding: 30px;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
}

.Title_User {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.buttonLogin, .buttonLogout {
  background-color: #00aaff;
  color: white;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.buttonLogin:hover, .buttonLogout:hover {
  background-color: #00aaff;
}

.buttonLogin {
  background-color: #00aaff;
}

.buttonLogin:hover {
  background-color: #00aaff;
}

button {
  cursor: pointer;
}

/* Responsive Design: Stack content on small screens */
@media (max-width: 768px) {
  .content {
    padding: 20px;
  }

  .buttonLogin, .buttonLogout {
    width: 100%;
    margin-bottom: 10px;
  }
}
