/* Container và cấu trúc tổng quan */
.home-container {
    background: linear-gradient(to right, #ffffff, #00aaff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    bottom: 0;
  }
  
  